*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.main{
    height: 560px;
    width: 500px;
    border-radius: 20px;
    background-color: antiquewhite;
    border: 1px soldi greenyellow;
    margin: 40px auto;
}
.head img{
    height: 230px;
    width: 280px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 115px;
    border: none;
}
.head h2{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 137px;
}
.head span{
    font-size: 25px;
    display: block;
    text-align: center;
    color: cadetblue;
    padding: 5px;

}
.head button{
    height: 50px;
    width: 140px;
    padding: 5px;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 167px;
    color: black;
    background-color: aqua;
    border:none;
}